<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body>

    <header>
      {% include header.html %}
    </header>

    <div class="container">
      <section id="main_content">
          {{ content }}
      </section>
    </div>

    <footer>
      <div class="container">
        <p class="small dark">
          Logo by <a href="http://www.thomay.at/" style="color: #63c0f5">Thomas Mayr</a>
        </p>
        <p class="small dark">
          All tasks and writeups are copyrighted by their respective authors. All images and our logo are copyrighted by LosFuzzys. If you would like to use them, please contact us :)
        </p>
      </div>
    </footer>
  </body>
</html>
