<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body>

    <header>
      {% include header.html %}
      <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
              type="text/javascript">
      </script>
    </header>

    <div class="container">
      <section id="main_content">
          {{ content }}
      </section>
    </div>

  </body>
  <footer>
		<div class="container">
		Logo by <a href="http://www.thomay.at/">Thomas Mayr</a> <br>
		All tasks and writeups are copyrighted by their respective authors. All images and our logo are copyrighted by LosFuzzys. If you would like to use them, please contact us :)
		</div>
	</footer>
</html>
